@{
    ViewBag.Title = "حساب کاربری";
    Layout = "~/Views/Shared/_Layout2021.cshtml";
    MicroLab.Dto.FormulaDto f = ViewBag.formula;
}
<div style="padding:2rem">
        خوش آمدید.<br />
        <a href="~/Computing/index"> ورود به بخش فرمول ها</a><br />
        <a href="~/User/LogOut">خروج</a>

</div>