
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-US">
<head>
    <style>
        .dropbtn {
            background-color: #4CAF50;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: #f1f1f1
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="pingback" href="https://demo.athemes.com/sydney/xmlrpc.php">

    <title>My blog page &#8211; Sydney</title>
    <meta name='robots' content='max-image-preview:large' />
    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel="alternate" type="application/rss+xml" title="Sydney &raquo; Feed" href="https://demo.athemes.com/sydney/feed/" />
    <link rel="alternate" type="application/rss+xml" title="Sydney &raquo; Comments Feed" href="https://demo.athemes.com/sydney/comments/feed/" />
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/13.0.1\/72x72\/", "ext": ".png", "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/13.0.1\/svg\/", "svgExt": ".svg", "source": { "concatemoji": "https:\/\/demo.athemes.com\/sydney\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.7.1" } };
        !function (e, a, t) { var n, r, o, i = a.createElement("canvas"), p = i.getContext && i.getContext("2d"); function s(e, t) { var a = String.fromCharCode; p.clearRect(0, 0, i.width, i.height), p.fillText(a.apply(this, e), 0, 0); e = i.toDataURL(); return p.clearRect(0, 0, i.width, i.height), p.fillText(a.apply(this, t), 0, 0), e === i.toDataURL() } function c(e) { var t = a.createElement("script"); t.src = e, t.defer = t.type = "text/javascript", a.getElementsByTagName("head")[0].appendChild(t) } for (o = Array("flag", "emoji"), t.supports = { everything: !0, everythingExceptFlag: !0 }, r = 0; r < o.length; r++)t.supports[o[r]] = function (e) { if (!p || !p.fillText) return !1; switch (p.textBaseline = "top", p.font = "600 32px Arial", e) { case "flag": return s([127987, 65039, 8205, 9895, 65039], [127987, 65039, 8203, 9895, 65039]) ? !1 : !s([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819]) && !s([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]); case "emoji": return !s([55357, 56424, 8205, 55356, 57212], [55357, 56424, 8203, 55356, 57212]) }return !1 }(o[r]), t.supports.everything = t.supports.everything && t.supports[o[r]], "flag" !== o[r] && (t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && t.supports[o[r]]); t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && !t.supports.flag, t.DOMReady = !1, t.readyCallback = function () { t.DOMReady = !0 }, t.supports.everything || (n = function () { t.readyCallback() }, a.addEventListener ? (a.addEventListener("DOMContentLoaded", n, !1), e.addEventListener("load", n, !1)) : (e.attachEvent("onload", n), a.attachEvent("onreadystatechange", function () { "complete" === a.readyState && t.readyCallback() })), (n = t.source || {}).concatemoji ? c(n.concatemoji) : n.wpemoji && n.twemoji && (c(n.twemoji), c(n.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='sydney-bootstrap-css' href='https://demo.athemes.com/sydney/wp-content/themes/sydney/css/bootstrap/bootstrap.min.css?ver=1' type='text/css' media='all' />
    <link rel='stylesheet' id='wp-block-library-css' href='https://demo.athemes.com/sydney/wp-includes/css/dist/block-library/style.min.css?ver=5.7.1' type='text/css' media='all' />
    <link rel='stylesheet' id='contact-form-7-css' href='https://demo.athemes.com/sydney/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.4' type='text/css' media='all' />
    <link rel='stylesheet' id='sydney-google-fonts-css' href='https://fonts.googleapis.com/css?family=Raleway%3A400%2C600&#038;subset=latin&#038;display=swap' type='text/css' media='all' />
    <link rel='stylesheet' id='sydney-style-css' href='https://demo.athemes.com/sydney/wp-content/themes/sydney/style.css?ver=20210120' type='text/css' media='all' />
    <style id='sydney-style-inline-css' type='text/css'>
        .site-header {
            background-color: rgba(38,50,70,0.9);
        }

        body, #mainnav ul ul a {
            font-family: Raleway;
        }

        h1, h2, h3, h4, h5, h6, #mainnav ul li a, .portfolio-info, .roll-testimonials .name, .roll-team .team-content .name, .roll-team .team-item .team-pop .name, .roll-tabs .menu-tab li a, .roll-testimonials .name, .roll-project .project-filter li a, .roll-button, .roll-counter .name-count, .roll-counter .numb-count button, input[type="button"], input[type="reset"], input[type="submit"] {
            font-family: Raleway;
        }

        .site-title {
            font-size: 32px;
        }

        .site-description {
            font-size: 16px;
        }

        #mainnav ul li a {
            font-size: 15px;
        }

        h1 {
            font-size: 44px;
        }

        h2 {
            font-size: 22px;
        }

        h3 {
            font-size: 16px;
        }

        h4 {
            font-size: 14px;
        }

        h5 {
            font-size: 20px;
        }

        h6 {
            font-size: 18px;
        }

        body {
            font-size: 15px;
        }

        .single .hentry .title-post {
            font-size: 36px;
        }

        .header-image {
            background-size: cover;
        }

        .header-image {
            height: 300px;
        }

        .llms-student-dashboard .llms-button-secondary:hover, .llms-button-action:hover, .read-more-gt, .widget-area .widget_fp_social a, #mainnav ul li a:hover, .sydney_contact_info_widget span, .roll-team .team-content .name, .roll-team .team-item .team-pop .team-social li:hover a, .roll-infomation li.address:before, .roll-infomation li.phone:before, .roll-infomation li.email:before, .roll-testimonials .name, .roll-button.border, .roll-button:hover, .roll-icon-list .icon i, .roll-icon-list .content h3 a:hover, .roll-icon-box.white .content h3 a, .roll-icon-box .icon i, .roll-icon-box .content h3 a:hover, .switcher-container .switcher-icon a:focus, .go-top:hover, .hentry .meta-post a:hover, #mainnav > ul > li > a.active, #mainnav > ul > li > a:hover, button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, .text-color, .social-menu-widget a, .social-menu-widget a:hover, .archive .team-social li a, a, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .classic-alt .meta-post a, .single .hentry .meta-post a, .content-area.modern .hentry .meta-post span:before, .content-area.modern .post-cat {
            color: #d83a3a
        }

            .llms-student-dashboard .llms-button-secondary, .llms-button-action, .reply, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .project-filter li a.active, .project-filter li a:hover, .preloader .pre-bounce1, .preloader .pre-bounce2, .roll-team .team-item .team-pop, .roll-progress .progress-animate, .roll-socials li a:hover, .roll-project .project-item .project-pop, .roll-project .project-filter li.active, .roll-project .project-filter li:hover, .roll-button.light:hover, .roll-button.border:hover, .roll-button, .roll-icon-box.white .icon, .owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span, .go-top, .bottom .socials li:hover a, .sidebar .widget:before, .blog-pagination ul li.active, .blog-pagination ul li:hover a, .content-area .hentry:after, .text-slider .maintitle:after, .error-wrap #search-submit:hover, #mainnav .sub-menu li:hover > a, #mainnav ul li ul:after, button, input[type="button"], input[type="reset"], input[type="submit"], .panel-grid-cell .widget-title:after {
                background-color: #d83a3a
            }

                .llms-student-dashboard .llms-button-secondary, .llms-student-dashboard .llms-button-secondary:hover, .llms-button-action, .llms-button-action:hover, .roll-socials li a:hover, .roll-socials li a, .roll-button.light:hover, .roll-button.border, .roll-button, .roll-icon-list .icon, .roll-icon-box .icon, .owl-theme .owl-controls .owl-page span, .comment .comment-detail, .widget-tags .tag-list a:hover, .blog-pagination ul li, .hentry blockquote, .error-wrap #search-submit:hover, textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, button, input[type="button"], input[type="reset"], input[type="submit"], .archive .team-social li a {
                    border-color: #d83a3a
                }

                .go-top:hover svg, .sydney_contact_info_widget span {
                    fill: #d83a3a;
                }

        .site-header.float-header {
            background-color: rgba(38,50,70,0.9);
        }

        @@media only screen and (max-width: 1024px) {
            .site-header {
                background-color: #263246;
            }
        }

        .site-title a, .site-title a:hover {
            color: #ffffff
        }

        .site-description {
            color: #ffffff
        }

        #mainnav ul li a, #mainnav ul li::before {
            color: #ffffff
        }

        #mainnav .sub-menu li a {
            color: #ffffff
        }

        #mainnav .sub-menu li a {
            background: #263246
        }

        .text-slider .maintitle, .text-slider .subtitle {
            color: #ffffff
        }

        body {
            color: #868990
        }

        #secondary {
            background-color: #ffffff
        }

            #secondary, #secondary a {
                color: #767676
            }

        .footer-widgets {
            background-color: #263246
        }

            #sidebar-footer, #sidebar-footer a, .footer-widgets .widget-title {
                color: #868990
            }

        .btn-menu .sydney-svg-icon {
            fill: #ffffff
        }

        #mainnav ul li a:hover {
            color: #ffffff
        }

        .site-footer {
            background-color: #1d2738
        }

            .site-footer, .site-footer a {
                color: #868990
            }

        .overlay {
            background-color: #000000
        }

        .page-wrap {
            padding-top: 100px;
        }

        .page-wrap {
            padding-bottom: 100px;
        }

        @@media only screen and (max-width: 1025px) {
            .mobile-slide {
                display: block;
            }

            .slide-item {
                background-image: none !important;
            }

            .header-slider {
            }

            .slide-item {
                height: auto !important;
            }

            .slide-inner {
                min-height: initial;
            }
        }

        @@media only screen and (max-width: 780px) {
            h1 {
                font-size: 32px;
            }

            h2 {
                font-size: 28px;
            }

            h3 {
                font-size: 22px;
            }

            h4 {
                font-size: 18px;
            }

            h5 {
                font-size: 16px;
            }

            h6 {
                font-size: 14px;
            }
        }
    </style>
    <!--[if lte IE 9]>
    <link rel='stylesheet' id='sydney-ie9-css'  href='https://demo.athemes.com/sydney/wp-content/themes/sydney/css/ie9.css?ver=5.7.1' type='text/css' media='all' />
    <![endif]-->
    
    
    
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>






    <script type='text/javascript' src='https://demo.athemes.com/sydney/wp-includes/js/jquery/jquery.min.js?ver=3.5.1' id='jquery-core-js'></script>
    <script type='text/javascript' src='https://demo.athemes.com/sydney/wp-includes/js/jquery/jquery-migrate.min.js?ver=3.3.2' id='jquery-migrate-js'></script>
    <link rel="https://api.w.org/" href="https://demo.athemes.com/sydney/wp-json/" />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://demo.athemes.com/sydney/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://demo.athemes.com/sydney/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 5.7.1" />

    <!-- Google Webmaster Tools plugin for WordPress -->

    <style>
        .sydney-svg-icon {
            display: inline-block;
            width: 16px;
            height: 16px;
            vertical-align: middle;
            line-height: 1;
        }

        .team-item .team-social li .sydney-svg-icon {
            fill: #fff;
        }

        .team-item .team-social li:hover .sydney-svg-icon {
            fill: #000;
        }

        .team_hover_edits .team-social li a .sydney-svg-icon {
            fill: #000;
        }

        .team_hover_edits .team-social li:hover a .sydney-svg-icon {
            fill: #fff;
        }
    </style>
    <style type="text/css" id="wp-custom-css">
        h1, h2, h3, h4, h5, h6 {
            color: #263246;
        }

        /* Header edits */
        #mainnav .current-menu-item {
            border-bottom: 2px solid #D83A3A;
        }

        #mainnav li {
            padding: 0 2px;
            margin: 0 12px;
        }

        .site-header {
            border-bottom: 1px solid rgba(255,255,255,0.1);
        }

        /* Skills edits */

        .skills_percentage_fix .elementor-progress-wrapper {
            overflow: visible !important;
        }

        .skills_percentage_fix .elementor-progress-percentage {
            margin-top: -20px;
            padding-right: 0;
        }

        /* Icons edits */

        .center_icons_fix .elementor-icon-box-wrapper {
            align-items: center !important;
        }

        .center_icons_fix .elementor-icon-box-title {
            line-height: 60px;
            margin-bottom: 15px !important;
        }

        /* Our work edits */

        .our_work li a {
            color: #263246;
            padding: 0 2px;
            margin: 0 8px;
        }

            .our_work li a:hover, .our_work .active {
                color: #263246;
                border-bottom: 2px solid #D83A3A;
            }

        .our_work li a {
            border-bottom: 2px solid transparent;
        }

            .our_work li a.active {
                color: #263246;
            }

        .our_work li {
            background-color: transparent;
        }

        .our_work .roll-project.fullwidth .project-item {
            width: 30%;
            margin: 15px;
        }

        .our_work .project-title span {
            position: absolute;
            bottom: 0;
            background-color: #fff;
            width: 89%;
            padding: 18px 25px;
            text-align: left;
            margin: 0 0 20px 20px;
        }

        .our_work .project-pop {
            background-color: transparent !important;
        }

        /* Testimonials */
        .test_add_quote .fa {
            display: block;
            text-align: center;
            font-size: 4em;
            color: rgba(255,255,255,0.3) !important;
            margin-bottom: 30px;
        }

        .test_add_quote .avatar {
            width: 80px;
            border: 5px solid rgba(255,255,255,0.7);
        }

        .test_add_quote .testimonial-position:before {
            content: '-';
            margin: 0 5px;
        }

        .test_add_quote .testimonial-position {
            display: inline-block !important;
            text-align: left;
            width: 51%;
        }

        .test_add_quote .testimonial-name {
            text-align: right;
            float: left;
            width: 49%;
        }

        .test_add_quote .owl-theme .owl-controls .owl-page span {
            background-color: rgba(255,255,255,0.3);
            border-color: transparent;
        }

        .test_add_quote .owl-theme .owl-controls .owl-page.active span {
            background-color: #fff;
            width: 40px;
            border-radius: 4px;
        }

        /* Team edits */
        .team_hover_edits .team-pop .name, .team_hover_edits .team-pop .pos {
            display: none;
        }

        .team_hover_edits .team-pop .name, .team_hover_edits .team-pop .team-info {
            top: 80% !important;
        }

        .team_hover_edits .team-pop .name, .team_hover_edits .team-pop {
            background-color: transparent !important;
        }

        .team_hover_edits .team-social li a {
            color: #000;
            margin-left: 10px;
            height: 40px;
            width: 40px;
            border: none;
            background-color: #fff;
            border-radius: 0;
            line-height: 42px;
        }

        .team_hover_edits .team-pop .team-social li:hover a {
            color: #fff !important;
            background-color: #D83A3A;
        }

        .team_hover_edits .avatar {
            box-shadow: 0px 11px 40px 0px rgba(79,118,157,0.1);
        }

        .team_hover_edits .team-item {
            padding: 0 25px 0 0 !important;
        }

        /* latest_news */
        .latest_news .roll-button {
            border: none !important;
            border-color: transparent !important;
        }

        /* footer */
        .footer-widgets {
            padding: 72px 0 62px;
        }

        #sidebar-footer {
            font-size: 14px;
        }

        #media_image-3 {
            margin-bottom: 47px;
        }

        #text-3 {
            font-size: 14px;
            padding: 0;
        }

        #sidebar-footer .col-md-3:first-child {
            width: 338px;
            padding: 0;
            margin-right: 90px;
        }

        #sidebar-footer .col-md-3 {
            width: 18%;
        }

        #sidebar-footer .widget-title {
            color: #fff;
            text-transform: none;
            font-size: 20px;
            margin: 0 0 17px 0;
        }

            #sidebar-footer .widget-title:after {
                content: '';
                display: block;
                width: 50px;
                height: 3px;
                background-color: #D83A3A;
                margin-top: 17px;
            }

        #sidebar-footer .col-md-3:last-child {
            width: 300px;
        }

        /* Blog edits */
        #secondary #recent-posts-2 ul li {
            padding: 20px 0;
            border-bottom: 1px solid rgba(0,0,0,0.1);
        }

            #secondary #recent-posts-2 ul li:last-child {
                border-bottom: none;
            }

            #secondary #recent-posts-2 ul li a {
                font-size: 16px;
                line-height: 24px;
                color: #263246;
                display: block;
                margin-bottom: 10px;
            }

            #secondary #recent-posts-2 ul li span {
                color: #868990;
                font-size: 13px;
            }

        #secondary #categories-2 ul li, #secondary #archives-2 ul li {
            padding: 0;
            font-size: 16px;
            line-height: 40px;
            color: #868990;
            font-weight: bold;
        }

        #secondary .tagcloud a {
            font-size: 13px !important;
            background-color: #F2F2F2;
            padding: 7px 16px;
            margin: 2px;
            display: inline-block;
            word-break: keep-all;
        }

        input[type="text"], input[type="email"] {
            color: #868990;
            background-color: #fff;
            border: 1px solid rgba(0,0,0,0.1);
            height: 42px;
            padding: 13px 20px;
        }

        input[type="submit"] {
            width: 100%;
        }

        /* Contact Us*/

        #contact_us_form input::placeholder, textarea::placeholder {
            color: #263246;
        }

        #contact_three_fields {
            background-color: #FAFAFA;
            border: 1px solid #e5e5e5;
            height: 50px;
            padding: 15px 27px;
            margin: 0 0 30px 0;
            width: 31.5%;
        }

        span.YourEmail > input {
            margin: 0 31px 30px 31px !important;
        }

        #contact_message {
            color: #263246;
            background-color: #FAFAFA;
            border: 1px solid #e5e5e5;
            padding: 15px 27px;
            margin: 0 0 30px 0;
            width: 100%;
        }

        #contact_submit {
            width: auto;
            padding: 15px 33px;
            font-size: 14px;
        }

        #contact_us_form {
            text-align: center;
        }

        /* Mobile edits */

        @@media (max-width: 768px) {
            .our_work .roll-project.fullwidth .project-item {
                width: 45.5%;
            }

            #sidebar-footer .col-md-3:first-child {
                width: 45%;
                margin-right: 70px;
                float: left;
            }

            #sidebar-footer .col-md-3 {
                width: 45%;
                float: left;
            }

            #contact_three_fields, #contact_message {
                margin: 0 30px 30px;
                width: 90%;
            }
        }

        @@media (max-width: 479px) {
            .our_work .roll-project.fullwidth .project-item {
                width: 93% !important;
            }

            .team_hover_edits .team-item {
                padding: 0 !important;
            }

            #sidebar-footer .col-md-3:first-child {
                width: 100%;
                margin-right: 0;
            }

            #sidebar-footer .col-md-3 {
                width: 100%;
            }

                #sidebar-footer .col-md-3:last-child {
                    width: 100%;
                }

            #contact_three_fields, #contact_message {
                width: 85%;
            }

            .contact_iconed_list .elementor-icon-box-icon {
                float: left;
                margin-right: 15px !important;
            }
        }

        #mainnav ul ul li {
            margin: 0;
        }
    </style>
</head>

<body class="blog group-blog menu-inline elementor-default elementor-kit-614">

    <span id="toptarget"></span>


    <div class="preloader">
        <div class="spinner">
            <div class="pre-bounce1"></div>
            <div class="pre-bounce2"></div>
        </div>
    </div>

    <div id="page" class="hfeed site">
        <a class="skip-link screen-reader-text" href="#content">Skip to content</a>

        <div class="header-clone"></div>
        <header id="masthead" class="site-header" role="banner">
            <div class="header-wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-8 col-xs-12">
                            <a href="https://demo.athemes.com/sydney/" title="Sydney"><img class="site-logo" src="https://demo.athemes.com/sydney/wp-content/uploads/sites/103/2019/12/Sydney_logo-1.png" alt="Sydney" /></a>
                            <h1 class="site-title screen-reader-text">Sydney</h1>
                        </div>
                        <div class="col-md-8 col-sm-4 col-xs-12">
                            <div class="btn-menu" aria-expanded="false"><i class="sydney-svg-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z" /></svg></i></div>
                            <nav id="mainnav" class="mainnav" role="navigation">
                                <div class="menu-main-container">
                                    <ul id="menu-main" class="menu">
                                        <li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-21"><a href="https://demo.athemes.com/sydney/">My front page</a></li>
                                        <li id="menu-item-366" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-366"><a href="https://demo.athemes.com/sydney/team/">Team</a></li>
                                        <li id="menu-item-380" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-380"><a href="https://demo.athemes.com/sydney/services/">Services</a></li>
                                        <li id="menu-item-387" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-385 current_page_item current_page_parent menu-item-387"><a href="https://demo.athemes.com/sydney/blog/" aria-current="page">My blog page</a></li>
                                        <li id="menu-item-496" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-496">
                                            <a href="https://demo.athemes.com/sydney/contact/">Contact</a>
                                            <ul class="sub-menu">
                                                <li id="menu-item-628" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-628"><a href="#">Submenu Item</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </nav><!-- #site-navigation -->
                        </div>
                    </div>
                </div>
            </div>
        </header><!-- #masthead -->


        <div class="sydney-hero-area">
            <div class="header-image">
                <div class="overlay"></div>
            </div>

        </div>


        <div id="content" class="page-wrap">
            <div class="container content-wrapper">
                <div class="row">


                    <div id="primary" class="content-area col-md-9 modern">


                        <main id="main" class="post-wrap" role="main">


                            <aside id="recent-posts-2" class="widget widget_recent_entries">

                                <div class="dropdown">
                                    <button class="dropbtn">فرمول ها ی ریاضیاتی</button>
                                    <div class="dropdown-content">
                                        <a  onclick="updateCard('circle')">فرمول محاسبه مساحت دایره</a>
                                        <a  onclick="updateCard('two')"> فرمول محاسبه ریشه معادله درجه دو</a>
                                        <a  onclick="updateCard('fisa')">فرمول محاسبه فیثاغورث</a>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <div class="dropdown">
                                    <button class="dropbtn">فرمول ها ی مصالح</button>
                                    <div class="dropdown-content">
                                        <a>فرمول 1</a>
                                        <a>فرمول 2</a>
                                        <a>فرمول 3</a>
                                    </div>
                                </div>
                            </aside>





                        </main><!-- #main -->
                    </div><!-- #primary -->


                    <div id="secondary" class="widget-area col-md-3" style="float:right" role="complementary">

                    </div><!-- #secondary -->
                </div>
            </div>
        </div><!-- #content -->





        <div id="sidebar-footer" class="footer-widgets widget-area" role="complementary">
            <div class="container">
                <div class="sidebar-column col-md-3">
                    <aside id="media_image-3" class="widget widget_media_image"><img width="144" height="42" src="https://demo.athemes.com/sydney/wp-content/uploads/sites/103/2019/10/Sydney_logo.png" class="image wp-image-6  attachment-full size-full" alt="" loading="lazy" style="max-width: 100%; height: auto;" /></aside><aside id="text-3" class="widget widget_text">
                        <div class="textwidget">
                            <p>Sydney is a powerful business theme that provides a fast way for companies or freelancers to create an awesome online presence. Also, Sydney provides all the construction blocks you need to rapidly create an engaging front page.</p>
                        </div>
                    </aside>
                </div>

                <div class="sidebar-column col-md-3">
                    <aside id="nav_menu-3" class="widget widget_nav_menu">
                        <h3 class="widget-title">About Us</h3><div class="menu-about-us-container">
                            <ul id="menu-about-us" class="menu">
                                <li id="menu-item-299" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-299"><a href="#">About Us</a></li>
                                <li id="menu-item-300" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-300"><a href="#">Our Work</a></li>
                                <li id="menu-item-301" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-301"><a href="#">Career</a></li>
                                <li id="menu-item-302" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-302"><a href="#">Contact us</a></li>
                            </ul>
                        </div>
                    </aside>
                </div>

                <div class="sidebar-column col-md-3">
                    <aside id="nav_menu-4" class="widget widget_nav_menu">
                        <h3 class="widget-title">Services</h3><div class="menu-services-container">
                            <ul id="menu-services" class="menu">
                                <li id="menu-item-303" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-303"><a href="#">UX/UI Design</a></li>
                                <li id="menu-item-304" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-304"><a href="#">Development</a></li>
                                <li id="menu-item-305" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-305"><a href="#">Marketing</a></li>
                                <li id="menu-item-306" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-306"><a href="#">App Design</a></li>
                            </ul>
                        </div>
                    </aside>
                </div>

                <div class="sidebar-column col-md-3">
                    <aside id="text-4" class="widget widget_text">
                        <h3 class="widget-title">Contact</h3>			<div class="textwidget">
                            <ul>
                                <li><i class="fas fa-location-arrow" style="color: #d83a3a; margin-right: 10px;"></i>77 W Houston St New York, NY 10012</li>
                                <li><i class="fas fa-envelope" style="color: #d83a3a; margin-right: 10px;"></i><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="2f4c40415b4e4c5b6f4c40425f4e4156014c4042">[email&#160;protected]</a></li>
                                <li><i class="fas fa-phone-alt" style="color: #d83a3a; margin-right: 10px;"></i>+99 555 999</li>
                            </ul>
                        </div>
                    </aside>
                </div>

            </div>
        </div>
        <a on="tap:toptarget.scrollTo(duration=200)" class="go-top"><i class="sydney-svg-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M240.971 130.524l194.343 194.343c9.373 9.373 9.373 24.569 0 33.941l-22.667 22.667c-9.357 9.357-24.522 9.375-33.901.04L224 227.495 69.255 381.516c-9.379 9.335-24.544 9.317-33.901-.04l-22.667-22.667c-9.373-9.373-9.373-24.569 0-33.941L207.03 130.525c9.372-9.373 24.568-9.373 33.941-.001z" /></svg></i></a>

        <footer id="colophon" class="site-footer" role="contentinfo">
            <div class="site-info container">
                <a href="https://wordpress.org/">Proudly powered by WordPress</a>
                <span class="sep"> | </span>
                Theme: <a href="https://athemes.com/theme/sydney" rel="nofollow">Sydney</a> by aThemes.
            </div><!-- .site-info -->
        </footer><!-- #colophon -->


    </div><!-- #page -->



    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script>
        (function () {
            function maybePrefixUrlField() {
                if (this.value.trim() !== '' && this.value.indexOf('http') !== 0) {
                    this.value = "http://" + this.value;
                }
            }

            var urlFields = document.querySelectorAll('.mc4wp-form input[type="url"]');
            if (urlFields) {
                for (var j = 0; j < urlFields.length; j++) {
                    urlFields[j].addEventListener('blur', maybePrefixUrlField);
                }
            }
        })();</script>
    <script type='text/javascript' src='https://demo.athemes.com/sydney/wp-content/plugins/sydney-toolbox/js/main.js?ver=20200504' id='st-carousel-js'></script>
    <script type='text/javascript' src='https://demo.athemes.com/sydney/wp-content/themes/sydney/js/elementor.js?ver=20200504' id='sydney-elementor-editor-js'></script>
    <script type='text/javascript' src='https://demo.athemes.com/sydney/wp-includes/js/dist/vendor/wp-polyfill.min.js?ver=7.4.4' id='wp-polyfill-js'></script>
    <script type='text/javascript' id='wp-polyfill-js-after'>
        ('fetch' in window) || document.write('<script src="https://demo.athemes.com/sydney/wp-includes/js/dist/vendor/wp-polyfill-fetch.min.js?ver=3.0.0"></scr' + 'ipt>'); (document.contains) || document.write('<script src="https://demo.athemes.com/sydney/wp-includes/js/dist/vendor/wp-polyfill-node-contains.min.js?ver=3.42.0"></scr' + 'ipt>'); (window.DOMRect) || document.write('<script src="https://demo.athemes.com/sydney/wp-includes/js/dist/vendor/wp-polyfill-dom-rect.min.js?ver=3.42.0"></scr' + 'ipt>'); (window.URL && window.URL.prototype && window.URLSearchParams) || document.write('<script src="https://demo.athemes.com/sydney/wp-includes/js/dist/vendor/wp-polyfill-url.min.js?ver=3.6.4"></scr' + 'ipt>'); (window.FormData && window.FormData.prototype.keys) || document.write('<script src="https://demo.athemes.com/sydney/wp-includes/js/dist/vendor/wp-polyfill-formdata.min.js?ver=3.0.12"></scr' + 'ipt>'); (Element.prototype.matches && Element.prototype.closest) || document.write('<script src="https://demo.athemes.com/sydney/wp-includes/js/dist/vendor/wp-polyfill-element-closest.min.js?ver=2.0.2"></scr' + 'ipt>'); ('objectFit' in document.documentElement.style) || document.write('<script src="https://demo.athemes.com/sydney/wp-includes/js/dist/vendor/wp-polyfill-object-fit.min.js?ver=2.3.4"></scr' + 'ipt>');
    </script>
    <script type='text/javascript' src='https://demo.athemes.com/sydney/wp-includes/js/dist/hooks.min.js?ver=50e23bed88bcb9e6e14023e9961698c1' id='wp-hooks-js'></script>
    <script type='text/javascript' src='https://demo.athemes.com/sydney/wp-includes/js/dist/i18n.min.js?ver=db9a9a37da262883343e941c3731bc67' id='wp-i18n-js'></script>
    <script type='text/javascript' id='wp-i18n-js-after'>
        wp.i18n.setLocaleData({ 'text direction\u0004ltr': ['ltr'] });
    </script>
    <script type='text/javascript' src='https://demo.athemes.com/sydney/wp-includes/js/dist/vendor/lodash.min.js?ver=4.17.19' id='lodash-js'></script>
    <script type='text/javascript' id='lodash-js-after'>
        window.lodash = _.noConflict();
    </script>
    <script type='text/javascript' src='https://demo.athemes.com/sydney/wp-includes/js/dist/url.min.js?ver=0ac7e0472c46121366e7ce07244be1ac' id='wp-url-js'></script>
    <script type='text/javascript' id='wp-api-fetch-js-translations'>
        (function (domain, translations) {
            var localeData = translations.locale_data[domain] || translations.locale_data.messages;
            localeData[""].domain = domain;
            wp.i18n.setLocaleData(localeData, domain);
        })("default", { "locale_data": { "messages": { "": {} } } });
    </script>
    <script type='text/javascript' src='https://demo.athemes.com/sydney/wp-includes/js/dist/api-fetch.min.js?ver=a783d1f442d2abefc7d6dbd156a44561' id='wp-api-fetch-js'></script>
    <script type='text/javascript' id='wp-api-fetch-js-after'>
        wp.apiFetch.use(wp.apiFetch.createRootURLMiddleware("https://demo.athemes.com/sydney/wp-json/"));
        wp.apiFetch.nonceMiddleware = wp.apiFetch.createNonceMiddleware("d90984e6d5");
        wp.apiFetch.use(wp.apiFetch.nonceMiddleware);
        wp.apiFetch.use(wp.apiFetch.mediaUploadMiddleware);
        wp.apiFetch.nonceEndpoint = "https://demo.athemes.com/sydney/wp-admin/admin-ajax.php?action=rest-nonce";
    </script>
    <script type='text/javascript' id='contact-form-7-js-extra'>
        /* <![CDATA[ */
        var wpcf7 = { "cached": "1" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='https://demo.athemes.com/sydney/wp-content/plugins/contact-form-7/includes/js/index.js?ver=5.4' id='contact-form-7-js'></script>
    <script type='text/javascript' src='https://demo.athemes.com/sydney/wp-content/themes/sydney/js/functions.min.js?ver=20210120' id='sydney-functions-js'></script>
    <script type='text/javascript' src='https://demo.athemes.com/sydney/wp-content/themes/sydney/js/scripts.js?ver=5.7.1' id='sydney-scripts-js'></script>
    <script type='text/javascript' src='https://demo.athemes.com/sydney/wp-includes/js/wp-embed.min.js?ver=5.7.1' id='wp-embed-js'></script>
    <script type='text/javascript' src='https://demo.athemes.com/sydney/wp-content/plugins/mailchimp-for-wp/assets/js/forms.min.js?ver=4.8' id='mc4wp-forms-api-js'></script>
    <script>
        /(trident|msie)/i.test(navigator.userAgent) && document.getElementById && window.addEventListener && window.addEventListener("hashchange", function () { var t, e = location.hash.substring(1); /^[A-z0-9_-]+$/.test(e) && (t = document.getElementById(e)) && (/^(?:a|select|input|button|textarea)$/i.test(t.tagName) || (t.tabIndex = -1), t.focus()) }, !1);
    </script>

    <script>
        function calc(a) {
            Swal.fire({
                title: 'مطئن هستید؟',
                text: "این عمل برای شما هزینه دارد",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'بله!'
            }).then(function (r) {
                if (r.isConfirmed) {

                    switch (a) {

                        case 'fisa':
                            b = 0;

                            c = Math.pow(parseInt($("#firstInput").val()), 2);
                            d = Math.pow(parseInt($("#secondInput").val()), 2);
                            b = Math.pow(d + c, 0.5);
                            Swal.fire(
                                'پاسخ شما:'+b,
                                '.',
                                'success'
                            )
                            break;
                        case 'two':
                            break;
                        case 'circle':
                            b = 0;

                            c = Math.pow(parseInt($("#firstInput").val()), 2);
                            b = (c * 3.14159265359);
                            Swal.fire(
                                'پاسخ شما:' + b,
                                '.',
                                'success'
                            )
                            break;
                        default:
                    }
                }
            });
           
        }

        function updateCard(a) {
            switch (a) {
                case 'fisa':
                    b = 'ضلع اول:<input type="text" id="firstInput"/><br/>ضلع دوم: <input type="text" id="secondInput"/> <br />';
                    b += '<button onClick=calc("'+a+'") >محاسبه</button>'
                    $("#secondary").html(b);

                    break;
                case 'two': 
                   
                    break;
                case 'circle':
                    b = 'شعاع:<input type="text" id="firstInput"/><br/><br />';
                    b += '<button onClick=calc("' + a + '") >محاسبه</button>'
                    $("#secondary").html(b);
                    break;
                default:
            }
        }

        jQuery('.project-inner .lazyload').load(function () {

            jQuery('.isotope-container').isotope({
                filter: '*',
                itemSelector: '.project-item',
                percentPosition: true,
                animationOptions: {
                    duration: 750,
                    easing: 'liniar',
                    queue: false,
                }
            });
        });</script>
    <link href="~/Content/rtl.css" rel="stylesheet" />

</body>
</html>
